* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @extend %font-main;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

h1 {
  @include font(400, 3rem, 100%, $color-dark);
}

.links {
  text-decoration: none;
  color: $color-link;
  @extend %transition;
  &:hover {
    opacity: 0.8;
  }
  &:visited {
    color: $color-link;
  }
}
