$color-light: #ffffff;
$color-dark: #000000;
$color-dark-gray: #3f3f3f;
$color-light-gray: #828282;
$color-main: #e6f1fa;
$color-main-second: #eb5757;
$color-price: #880000;
$color-advanced: #57a4eb;
$color-success: #e3ffe9;
$color-success-intensive: #27ae60;
$color-error: #ffe3e3;
$color-error-text: #eb5757;
$color-link: #0f6db1;
$color-input: #c4c4c4;
$color-light-hover: #f0f2f2;
$color-background: #f8f9fb;
$color-hover-edit: #d0e4f2;

$input-border: 1px;

$base-intend: 15px;

$desktop-width: 1750px;
$laptop-large-width: 1400px;
$laptop-width: 1280px;
$laptop-small-width: 1100px;
$tablet-landscape-width: 1024px;
$small-desktop-width: 900px;
$tablet-large-width: 810px;
$tablet-width: 768px;
$mobile-large-width: 600px;
$mobile-medium-width: 450px;
