$color-light: #ffffff;
$color-dark: #000000;
$color-main: #e6f1fa;
$color-main-second: #eb5757;
$color-advanced: #57a4eb;
$color-success: #e3ffe9;
$color-success-intensive: #27ae60;
$color-error: #ffe3e3;
$color-link: #0f6db1;
$color-input: #c4c4c4;

$input-border: 1px;

$mobile-width: 768px;
