@mixin font($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin media-tablet-landscape {
  @media (max-width: $tablet-landscape-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile-large {
  @media (max-width: $mobile-large-width) {
    @content;
  }
}

@mixin media-mobile-medium {
  @media (max-width: $mobile-medium-width) {
    @content;
  }
}

@mixin eye-wrapper {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
