import { ECommerceAPIConfig } from './e-commerce-api-config';

const eCommerceAPIConfig: ECommerceAPIConfig = {
  projectKey: '',
  clientId: '',
  clientSecret: '',
  region: '',
};

export default eCommerceAPIConfig;
