.buttons {
  display: block;
  @extend %transition;
  @include font(500, 1.4rem, 100%, $color-dark);
  cursor: pointer;
  &_colored {
    border: none;
    padding: 18px 55px;
    color: $color-light;
    background: $color-dark;
    letter-spacing: 0.05rem;
    &:hover {
      background: $color-main-second;
    }
  }
  &_empty {
    border: none;
    background: inherit;
    padding: 0 6px;
  }
  &_edit {
    border: none;
    background: $color-main;
    padding: 7px 10px;
    max-width: fit-content;
    @include font(600, 1.4rem, 100%, $color-dark);
  }
  &:active {
    scale: 0.9;
  }
}
