.buttons {
  display: block;
  @include font(500, 1.4rem, 100%, $color-dark);
  cursor: pointer;
  &_colored {
    border: none;
    padding: 18px 55px;
    color: $color-light;
    background: $color-dark;
    letter-spacing: 0.05rem;
  }
  &_empty {
    border: none;
    background: inherit;
  }
  &:active {
    scale: 0.9;
  }
}
