@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.catalog {
  &__empty-list {
    font-size: 2rem;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 114px;

    @include media-tablet {
      flex-direction: column;
    }
  }

  &__search-and-sorting {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 15px;

    @include media-tablet {
      padding-top: 25px;
      padding-bottom: 0px;
    }
  }

  &__breadcrumbs_wrapper {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    column-gap: 10px;

    @include media-tablet {
      position: absolute;
    }
  }
  &__breadcrumbs_button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    @extend %transition;
    @extend %font-second;
    @include font(400, 1.4rem, 100%, $color-light-gray);
    background-color: $color-light;
    cursor: pointer;
    &:hover {
      @include font(400, 1.4rem, 100%, $color-dark-gray);
    }

    &:after {
      content: '/';
      position: absolute;
      right: -8px;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }

    &.opened {
      @extend %transition;
      @include font(600, 1.4rem, 100%, $color-light-gray);
    }
  }

  &__breadcrumbs_button-variant {
    width: 100%;
    padding: 3px 0;
    margin: 0;
    background-color: $color-light;
    border: none;
    outline: none;
    text-align: start;
    @include font(400, 1.4rem, 100%, $color-light-gray);
    cursor: pointer;
    @extend %transition;
    &:hover {
      @extend %transition;
      scale: 1.1;
      @include font(400, 1.4rem, 100%, $color-main-second);
    }

    @include media-mobile-medium {
      position: relative;
      z-index: 10;
    }
  }
  &__page-and-filters {
    display: flex;
    align-items: center;
    width: 100%;

    @include media-tablet {
      flex-direction: column;
    }
  }
  &__filter {
    align-self: flex-start;
    display: inline;

    &_brand,
    &_size,
    &_color,
    &_price {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &_color {
      row-gap: 10px;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 20px;
    padding-right: 10px;
  }

  &__filter_header {
    font-size: 2rem;
  }

  &__filter_wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-right: 30px;
    row-gap: 60px;
    flex-shrink: 0;

    @include media-tablet {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 40px;
      width: 100%;
      padding-right: 0px;
      row-gap: 20px;
      margin-bottom: 50px;
    }
  }

  &__filter-box {
    &_header {
      @include font(400, 2.2rem, 100%, $color-dark);
    }

    &_variant {
      display: flex;
      flex-direction: row;
      @extend %font-second;
      @include font(400, 1.4rem, 100%, $color-dark);
      column-gap: 9px;
    }

    &_color-variant {
      visibility: hidden;
    }
  }

  &__filter-box_range {
    margin-top: 8px;
    width: 100%;
  }
  &__filter-box_range-label {
    display: flex;
    flex-direction: row;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    @extend %font-second;
    @include font(400, 1.4rem, 100%, $color-dark);
  }
  &__filter_button {
    width: 100%;
    text-align: center;
  }

  &__search-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: -1;
    * {
      @extend %transition;
      &:hover {
        @extend %transition;
      }
    }

    &_input {
      padding: 0 35px 5px 5px;
      width: 0;
      min-width: 200px;
      border: none;
      outline: none;
      border-bottom: 1px solid $color-dark-gray;
      @extend %font-second;
      @include font(300, 1.6rem, 100%, $color-dark);
      &:focus {
        min-width: 500px;

        @include media-tablet {
          min-width: 310px;
        }
      }
    }

    &_button {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 5px;
      right: 5px;
      padding: 0;
      background: url('../assets/ico/search.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__sorting-dropdown {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 9px 35px 9px 15px;
    width: 250px;
    @include font(400, 1.4rem, 2.4rem, $color-dark-gray);
    border: 1px solid $color-input;
    column-gap: 10px;
    @extend %transition;
    cursor: pointer;
    * {
      display: none;
    }

    @include media-mobile-medium {
      padding: 5px 25px 5px 10px;
      @include font(400, 1.2rem, 1.6rem, $color-dark-gray);
    }

    &:after {
      content: '';
      position: absolute;
      right: 14px;
      top: 17px;
      width: 8px;
      height: 8px;
      border-top: 1px solid $color-dark;
      border-left: 1px solid $color-dark;
      transform: rotate(315deg);
      @extend %transition;

      @include media-mobile-medium {
        right: 10px;
        top: 10px;
      }
    }
    &.dropped-down {
      width: fit-content;
      @extend %transition;
      * {
        display: unset;

        &:hover {
          @extend %transition;
          @include font(400, 1.4rem, 2.4rem, $color-dark);

          @include media-mobile-medium {
            @include font(400, 1.2rem, 1.6rem, $color-dark);
          }
        }
      }

      &:after {
        transform: rotate(135deg);
      }
    }
    .sorted {
      display: flex;
      justify-content: flex-end;
      @include font(400, 1.4rem, 2.4rem, $color-dark);

      @include media-mobile-medium {
        @include font(400, 1.2rem, 1.6rem, $color-dark);
      }
    }
  }
  &__page {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 41px;
    column-gap: 26px;
    justify-content: space-between;
    padding-left: 30px;
    border-left: 1px solid $color-input;

    @include media-tablet {
      justify-content: center;
      padding-left: 0px;
      border-left: none;
    }
  }
  &__card {
    width: 16vw;
    min-width: 180px;
    cursor: pointer;
  }
  &__card img {
    max-width: inherit;
    min-height: fit-content;
    border-radius: 3px;
  }
  &__card_name-tag {
    height: 44px;
    overflow: hidden;
    margin-top: 5px;
    @include font(400, 1.8rem, 2.2rem, $color-dark);
  }
  &__card_description-tag {
    height: 30px;
    margin-top: 10px;
    overflow: hidden;
    @extend %font-second;
    @include font(400, 1.2rem, 1.5rem, $color-dark);
  }
  &__read-more {
    text-align: center;
    color: #3f3f3f;
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: bold;
  }
  &__card_price-tag {
    margin-top: 18px;
  }
  &__card_base-price {
    @include font(500, 2.2rem, 100%, $color-dark);
    &.before-disc {
      @include font(500, 1.6rem, 100%, $color-dark);
      text-decoration: line-through;
    }
  }
  &__card_disc-price {
    margin-left: 5px;
    @include font(500, 2.2rem, 100%, $color-price);
  }

  &__button-cart {
    position: relative;
    padding: 18px 0px;
    &_add,
    &_remove {
      margin-top: 15px;
      width: 100%;
      & span {
        pointer-events: none;
      }
    }

    &:disabled {
      background-color: $color-light-hover;
      border: 2px solid $color-input;
      color: $color-dark-gray;
      scale: 1;
      padding: 16px 0px;
      &:hover {
        background-color: $color-light-hover;
        border: 2px solid $color-input;
        color: $color-dark-gray;
        scale: 1;
        padding: 16px 0px;
      }
    }
  }

  &__pagination_wrapper {
    display: flex;
    margin: 30px 0 60px 250px;

    @include media-tablet {
      margin: 30px 0 60px 0px;
    }
  }
  &__pagination_prev,
  &__pagination_next {
    color: white;
    background-color: black;
    border-radius: 0;
    width: 100px;
    border: none;
    transition-duration: 0.3s;
    &:hover {
      background-color: #c21f39;
      scale: 1;
      transition-duration: 0.3s;
      cursor: pointer;
    }
    &:disabled {
      padding: 0px;
      background-color: gray;
      scale: 1;
      cursor: not-allowed;
    }
  }
  &__pagination_curr {
    width: 30px;
    text-align: center;
    font-size: 1.3rem;
  }
  &__cart-buttons_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
    justify-items: center;
  }

  &__brand {
    margin-top: 14px;
    @include font(500, 1.2rem, 100%, $color-dark-gray);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-out;
  &:hover {
    scale: 1.05;
  }
}

.add-spinner {
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
  margin-right: 10px;
  left: 3.4rem;
}

.add-spinner_hide {
  display: none;
}

#reset-filters_btn {
  width: fit-content;
  align-self: flex-end;
  padding: 10px 20px;
  border: 2px solid gray;
  color: black;
  background-color: transparent;
}
