.login {
  &__button {
    max-width: fit-content;
  }

  &__input_password {
    padding-right: 30px;
  }

  &__errors {
    max-width: fit-content;
    width: 100%;
    margin-top: -$base-intend;
    padding: 5px 10px;
    align-self: flex-end;
    text-align: right;
    background-color: $color-error;

    &_response {
      margin-top: 0;
      animation: disappear 0.5s linear 4.5s forwards;
    }
  }

  &__error {
    padding: 5px 20px 5px 5px;
    background-image: url('../assets/ico/login/x-marks-the-spot.svg');
    background-repeat: no-repeat;
    background-position: right;
  }

  &__message {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 20px 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-success;

    .message__image {
      background-image: url('../assets/ico/on.svg');
      width: 11px;
      height: 10px;
    }

    .message__text {
      color: $color-success-intensive;
    }

    &_hidden {
      display: none;
    }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
