.main {
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    row-gap: 20px;
  }

  &__wrapper {
    &_promo {
      height: 24.33vw;
      background-image: url('../assets/img/promo.png');
    }

    &_banner {
      height: 45vw;
      background-image: url('../assets/img/banner.jpeg');
    }
  }
}

.promo {
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 15px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 50%;
    padding: 30px 120px;
    @include media-laptop {
    }
    @include media-small-desktop {
      padding: 24px 90px;
    }
    @include media-tablet {
      padding: 18px 70px;
    }
    @include media-mobile-large {
      padding: 16px 20px;
    }
  }

  &__title {
    display: inline;
    max-width: 360px;
    @include font(500, 5.6rem, 110%, $color-dark);
    @include media-laptop-large {
      max-width: 275px;
      @include font(500, 4.2rem, 110%, $color-dark);
    }
    @include media-laptop-small {
      max-width: 195px;
      @include font(500, 3rem, 110%, $color-dark);
    }
    @include media-small-desktop {
      max-width: 155px;
      @include font(500, 2.4rem, 110%, $color-dark);
    }
    @include media-tablet {
      max-width: 130px;
      @include font(500, 2rem, 110%, $color-dark);
    }
    @include media-mobile-large {
      max-width: 160px;
      @include font(500, 1.4rem, 110%, $color-dark);
    }
    @include media-mobile-medium {
      max-width: 135px;
      @include font(500, 1.2rem, 110%, $color-dark);
    }

    &_second {
      color: transparent;
      -webkit-text-stroke: 1px $color-dark;
      @include media-mobile-large {
        -webkit-text-stroke: 0.5px $color-dark;
      }
    }

    &_main {
      position: relative;
      margin-top: 10px;
      &:before {
        content: '';
        position: absolute;
        width: 90%;
        border-top: 1.5px solid $color-dark;
        top: -5px;
        right: 0px;
      }
      &:after {
        content: '';
        position: absolute;
        height: 30%;
        border-right: 1.5px solid $color-dark;
        top: -5px;
        right: 0px;
        @include media-mobile-large {
          height: 50%;
        }
      }
    }
  }

  &__button {
    background: none;
    max-width: fit-content;
    border: 2px solid $color-dark;
    @include font(500, 1.4rem, 100%, $color-dark);
    &:hover {
      border: 2px solid $color-light-gray;
    }
    @include media-laptop-small {
      padding: 12px 40px;
      @include font(500, 1.2rem, 100%, $color-dark);
    }
    @include media-tablet {
      padding: 8px 20px;
      @include font(500, 1rem, 110%, $color-dark);
    }
    @include media-mobile-medium {
      padding: 6px 14px;
      @include font(500, 0.8rem, 110%, $color-dark);
    }

    &.disabled {
      background: $color-main-second;
      border: 2px solid $color-main-second;
      -webkit-user-select: text;
      user-select: text;
      color: $color-light;
      transition: all 0.5s ease-in;
      transform: rotateY(360deg);
      cursor: text;

      &:hover {
        border: 2px solid $color-main-second;
      }
      &:active {
        -webkit-user-select: all;
        user-select: all;
      }
    }
  }

  &__content {
    &_right {
      align-items: flex-end;
      padding: 180px 120px;
      .promo {
        &__title {
          text-align: end;
          color: $color-light;
          &_main {
            &:before {
              content: '';
              position: absolute;
              width: 90%;
              border-top: 1.5px solid $color-light;
              top: -5px;
              left: 0px;
            }
            &:after {
              content: '';
              position: absolute;
              height: 30%;
              border-right: none;
              border-left: 1.5px solid $color-light;
              top: -5px;
              left: 0px;
              @include media-mobile-large {
                height: 50%;
              }
            }
          }

          &_second {
            color: $color-main;
            -webkit-text-stroke: initial;
            @include media-mobile-large {
            }
          }
        }

        &__button {
          color: $color-dark-gray;
          border: 2px solid $color-light;
          background-color: $color-light;

          &:hover {
            opacity: 0.8;
          }
          &.disabled {
            background: $color-main-second;
            border: 2px solid $color-main-second;
            -webkit-user-select: text;
            user-select: text;
            color: $color-light;
            transition: all 0.5s ease-in;
            transform: rotateY(360deg);
            cursor: text;

            &:hover {
              opacity: 1;
              border: 2px solid $color-main-second;
            }
            &:active {
              -webkit-user-select: all;
              user-select: all;
            }
          }
        }
      }

      @include media-laptop-large {
        padding: 120px 120px;
      }
      @include media-small-desktop {
        padding: 90px 100px;
      }
      @include media-tablet {
        padding: 60px 80px;
      }
      @include media-mobile-large {
        padding: 50px 40px;
      }
      @include media-mobile-medium {
        padding: 40px 20px;
      }
    }
  }
}

.brands {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  border: 2px solid $color-input;
  padding: 28px 11px;
  margin: 15px 0 12px;
  text-decoration: none;
  @extend %transition;

  &:hover {
    @extend %transition;
    border: 2px solid $color-dark;
  }
  @include media-tablet {
    row-gap: 10px;
    column-gap: 5px;
  }

  &__title {
    position: absolute;
    text-align: center;
    width: 300px;
    top: -15px;
    left: calc(50% - 150px);
    @include font(400, 2.4rem, 100%, $color-dark);
    background: $color-light;
    @include media-laptop-large {
      top: -13px;
      @include font(400, 2.2rem, 100%, $color-dark);
    }
    @include media-laptop {
      top: -11px;
      @include font(400, 2rem, 100%, $color-dark);
    }
    @include media-tablet-landscape {
      top: -9px;
      width: 250px;
      left: calc(50% - 125px);
      @include font(400, 1.6rem, 100%, $color-dark);
    }
    @include media-tablet {
      top: -9px;
      width: 200px;
      left: calc(50% - 100px);
      @include font(400, 1.6rem, 100%, $color-dark);
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 141px;
    @extend %font-second;
    @include font(600, 2.2rem, 100%, $color-dark-gray);

    @include media-desktop {
      width: 190px;
      height: 114px;
      @include font(600, 2rem, 100%, $color-dark-gray);
    }
    @include media-laptop-large {
      width: 150px;
      height: 90px;
      @include font(600, 1.6rem, 100%, $color-dark-gray);
    }
    @include media-laptop {
      width: 120px;
      height: 72px;
      @include font(600, 1.2rem, 100%, $color-dark-gray);
    }
    @include media-tablet-landscape {
      width: 90px;
      height: 54px;
      @include font(600, 1rem, 100%, $color-dark-gray);
    }

    @include media-tablet {
      width: fit-content;
      height: auto;
    }

    &_select {
      color: $color-dark;
      background-color: $color-light-hover;

      @include media-tablet {
        width: fit-content;
        height: auto;
        background-color: $color-light;
      }
    }
  }
}
