.product {
  &__image {
    width: 100%;
    height: 100%;

    &_clickable {
      cursor: pointer;
    }
  }

  &__title_big {
    @include font(500, 4.8rem, 56px, $color-dark);

    @include media-tablet {
      text-align: center;
    }

    @include media-mobile-large {
      @include font(500, 3.5rem, 40px, $color-dark);
    }
  }

  &__wrapper_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include media-tablet-landscape {
      grid-template-columns: 1fr 2fr;
    }

    @include media-small-desktop {
      grid-template-columns: 1fr;

      & *:first-child {
        order: 2;
      }
    }
  }

  &__description {
    @include font(normal, 1.9rem, 140%, $color-dark);
  }

  &__modal {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color-dark, 0.6);
  }
}

.modal {
  &__content {
    position: relative;
    padding: 10px;
  }

  &__close {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: url('../assets/ico/x-marks-the-spot.svg') no-repeat 100% / cover;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
