.product {
  &__image {
    width: 100%;
    height: 100%;

    &_clickable {
      cursor: pointer;
    }
  }

  &__title {
    @include font(500, 1rem, 100%, $color-dark);

    &_big {
      font-size: 4.8rem;
      line-height: 56px;

      @include media-laptop-large {
        @include font(500, 3.6rem, 4.2rem, $color-dark);
      }
      @include media-laptop {
        @include font(500, 3.2rem, 3.8rem, $color-dark);
      }
      @include media-tablet-landscape {
        @include font(500, 2.6rem, 3.2rem, $color-dark);
      }
      @include media-small-desktop {
        @include font(500, 2.4rem, 2.8rem, $color-dark);
      }
    }

    &_price {
      font-size: 1.8rem;

      @include media-laptop-large {
        font-size: 1.4rem;
      }
    }

    @include media-mobile-large {
      @include font(500, 1, 100%, $color-dark);

      &_big {
        font-size: 3.5rem;
        line-height: 40px;
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 42px 0;
  }

  &__wrapper {
    &_body {
      display: flex;
      justify-content: center;
      margin-bottom: 71px;
      column-gap: 69px;

      @include media-tablet {
        flex-direction: column;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-basis: 50%;
      @include media-tablet-landscape {
        flex-basis: 40%;
      }
      @include media-tablet {
        flex-basis: 100%;
        order: -1;
        margin-bottom: 30px;
      }
    }

    &_price {
      margin: 36px 0 42px;
    }
  }

  &__brand {
    max-width: fit-content;
    padding: 11px 12px;
    margin-bottom: 5px;
    @include font(500, 1.8rem, 100%, $color-dark-gray);
    background-color: $color-light-hover;
    @include media-laptop-large {
      @include font(500, 1.6rem, 100%, $color-dark-gray);
    }
    @include media-laptop {
      @include font(500, 1.4rem, 100%, $color-dark-gray);
    }
    @include media-tablet-landscape {
      @include font(500, 1.2rem, 100%, $color-dark-gray);
    }
  }

  &__price {
    @include font(500, 2.8rem, 3.9rem, $color-dark);

    @include media-laptop-large {
      @include font(500, 2.6rem, 3.9rem, $color-dark);
    }
    @include media-tablet-landscape {
      @include font(500, 2.2rem, 3.2rem, $color-dark);
    }
    &_discounted {
      @include font(500, 2.8rem, 3.9rem, $color-price);
      margin-left: 7px;
      text-decoration: none;
      @include media-laptop-large {
        @include font(500, 2.6rem, 3.9rem, $color-price);
      }
      @include media-tablet-landscape {
        @include font(500, 2.2rem, 3.2rem, $color-price);
      }
    }

    &.before-disc {
      @include font(500, 2.4rem, 3.9rem, $color-dark);
      text-decoration: line-through;
      @include media-laptop-large {
        @include font(500, 2rem, 3.9rem, $color-dark);
      }
      @include media-tablet-landscape {
        @include font(500, 1.8rem, 3.2rem, $color-dark);
      }
    }
  }

  &__content {
    padding: 25px 27px;
    background-color: $color-background;
  }

  &__description {
    &_title {
      @include font(400, 3rem, 100%, $color-dark);
      padding-bottom: 23px;
      border-bottom: 1px solid $color-input;
      @include media-laptop-large {
        @include font(400, 2.8rem, 100%, $color-dark);
      }
      @include media-small-desktop {
        @include font(400, 2.4rem, 100%, $color-dark);
      }
    }
    &_subtitle {
      margin: 32px 0 16px;
      @include font(400, 2rem, 100%, $color-dark);
      @include media-laptop-large {
        @include font(400, 1.8rem, 100%, $color-dark);
      }
      @include media-small-desktop {
        @include font(400, 1.4rem, 100%, $color-dark);
      }
    }
    &_text {
      @extend %font-second;
      @include font(400, 1.8rem, 2.8rem, $color-dark-gray);
      @include media-laptop-large {
        @include font(400, 1.6rem, 2.5rem, $color-dark-gray);
      }
      @include media-small-desktop {
        @include font(400, 1.4rem, 2rem, $color-dark-gray);
      }
    }
  }

  &__modal {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color-dark, 0.6);

    & .swiper {
      width: unset;
    }
  }

  &__control {
    @include media-tablet-landscape {
      flex-direction: column;
    }
    @include media-tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__button {
    flex-shrink: 0;
    width: fit-content;
    min-width: 265px;
    margin-top: 0;
    font-size: 1.8rem;

    @include media-laptop-large {
      min-width: 235px;
      font-size: 1.4rem;
    }
    @include media-laptop {
      min-width: 220px;
      font-size: 1.2rem;
    }
  }
}

.modal {
  &__content {
    position: relative;
    padding: 10px;
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: url('../assets/ico/close-btn.svg') no-repeat 100% / cover;
    z-index: 2;

    @include media-hover-desktop {
      &:hover {
        background: url('../assets/ico/close-btn-hovered.svg') no-repeat 100% / cover;
      }
    }
  }
}
