.profile {
  &__form {
    &.hidden {
      display: none;
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 10px;
    &_default {
      order: -1;
    }
  }

  &__wrapper {
    &_account {
      flex-grow: 1;
      max-width: 50%;
    }

    &_control {
      justify-content: flex-start;
      column-gap: 20px;
    }
  }

  &__addresses {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__address {
    flex-grow: 1;
    max-width: 50%;
    &_billing-default {
      order: -2;
    }
    &_shipping-default {
      order: -1;
    }
  }

  &__content {
    display: flex;
    column-gap: 3px;
  }

  &__text {
    @include font(400, 1.6rem, 100%, $color-Light-gray);
  }

  &__title {
    margin-top: 40px;
    @extend %font-main;
    @include font(400, 2.4rem, 100%, $color-dark);
  }

  &__subtitle {
    @extend %font-main;
    @include font(600, 1.8rem, 100%, $color-dark-gray);
  }

  &__modal {
    display: none;
    width: 70%;
    margin-top: 40px;
    &.opened {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-light;
    }
  }

  &__message {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 20px 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-success;

    .message__image {
      background-image: url('../assets/ico/on.svg');
      flex-shrink: 0;
      width: 11px;
      height: 10px;
    }

    .message__text {
      text-align: center;
      @include font(400, 1.6rem, 100%, $color-success-intensive);
    }

    &_hidden {
      display: none;
    }

    &_failed {
      background-color: $color-error;
      .message__text {
        @include font(400, 1.6rem, 100%, $color-error-text);
      }

      .message__image {
        background-image: url('../assets/ico/x-marks-the-spot.svg');
      }
    }
  }

  &__button {
    @extend %font-main;
    &_back {
      @include font(600, 1.4rem, 100%, $color-Light-gray);
    }
  }

  &__errors {
    max-width: fit-content;
    width: 100%;
    margin-top: -$base-intend;
    padding: 5px 10px;
    align-self: flex-end;
    text-align: right;
    background-color: $color-error;

    &_response {
      margin-top: 0;
      animation: disappear 0.5s linear 4.5s forwards;
    }
  }

  &__error {
    padding: 5px 20px 5px 5px;
    background-image: url('../assets/ico/x-marks-the-spot.svg');
    background-repeat: no-repeat;
    background-position: right;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
