.promo {
  display: flex;
  width: 100%;
  height: 24.33vw;
  background-image: url('../assets/img/promo.png');
  background-repeat: no-repeat;
  background-size: contain;
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 48px;
    padding: 30px 120px;
    @include media-laptop {
      row-gap: 36px;
    }
    @include media-small-desktop {
      padding: 24px 90px;
    }
    @include media-tablet {
      row-gap: 18px;
      padding: 18px 70px;
    }
    @include media-mobile-large {
      row-gap: 14px;
      padding: 16px 20px;
    }
  }

  &__title {
    max-width: 320px;
    @include font(500, 5.6rem, 110%, $color-dark);
    @include media-laptop-large {
      max-width: 275px;
      @include font(500, 4.2rem, 110%, $color-dark);
    }
    @include media-laptop {
      max-width: 235px;
      @include font(500, 3.6rem, 110%, $color-dark);
    }
    @include media-laptop-small {
      max-width: 180px;
      @include font(500, 2.8rem, 110%, $color-dark);
    }
    @include media-tablet-landscape {
      max-width: 145px;
      @include font(500, 2.2rem, 110%, $color-dark);
    }
    @include media-small-desktop {
      max-width: 115px;
      @include font(500, 1.8rem, 110%, $color-dark);
    }
    @include media-tablet {
      max-width: 100px;
      @include font(500, 1.6rem, 110%, $color-dark);
    }
    @include media-mobile-large {
      max-width: 100%;
      @include font(500, 1.4rem, 110%, $color-dark);
    }
    @include media-mobile-medium {
      @include font(500, 1.2rem, 110%, $color-dark);
    }
  }

  &__button {
    background: none;
    max-width: fit-content;
    border: 2px solid $color-dark;
    @include font(500, 1.4rem, 100%, $color-dark);
    &:hover {
      border: 2px solid $color-Light-gray;
    }
    @include media-small-desktop {
      padding: 12px 40px;
      @include font(500, 1.2rem, 100%, $color-dark);
    }
    @include media-tablet {
      padding: 8px 20px;
      @include font(500, 1rem, 110%, $color-dark);
    }
    @include media-mobile-medium {
      padding: 6px 14px;
      @include font(500, 0.8rem, 110%, $color-dark);
    }
  }
}
