@import '../abstracts/mixins';
@import '../abstracts/constants';

.form {
  display: flex;
  flex-direction: column;
  @extend %font-second;
  @include font(400, 1.6rem, 100%, $color-dark);
  &__field {
    display: flex;
    border: none;
  }
  &__input {
    padding: 14px 16px;
    width: 100%;
    border: 1px solid $color-dark;
    outline: none;
  }
  &__button_eye_opened {
    @include eye-wrapper;
    background-image: url('../assets/ico/login/eye-opened.svg');
  }
  &__button_eye_closed {
    @include eye-wrapper;
    background-image: url('../assets/ico/login/eye-closed.svg');
  }
  .valid {
    border-color: $color-success-intensive;
    color: darken($color: $color-success-intensive, $amount: 10);
  }
  .invalid {
    border-color: $color-main-second;
    color: darken($color: $color-main-second, $amount: 10);
  }
}
