.login {
  &__form {
    margin: 20px auto;
    row-gap: 15px;
  }
  &__field {
    min-width: 606px;
    justify-content: space-between;
  }
  &__input {
    max-width: 443px;
  }
  &__button {
    max-width: 270px;
  }
}
