.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 21px 21px;
  background: $color-dark;
  &__logo {
    width: 94px;
    height: 44px;
    background: url('../assets/ico/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    cursor: pointer;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    @extend %transition;
    @include media-mobile-medium {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
      width: 100%;
      height: 100vh;
      background: $color-dark;
      top: 0;
      right: -100%;
      z-index: 10;
      transition: all 0.2s ease-out;
    }
    &_opened {
      right: 0;
    }
  }
  &__button {
    position: relative;
    @extend %font-main;
    @include font(600, 1.4rem, 100%, $color-light);
    @extend %transition;
    @include media-mobile-medium {
      width: fit-content;
      @include font(600, 2.4rem, 100%, $color-light);
    }
  }
}

.current-page {
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-main-second;
  }
}
