.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 21px 21px;
  background: $color-dark;
  &__logo {
    width: 94px;
    height: 44px;
    background: url('../assets/ico/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    cursor: pointer;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    @extend %transition;
    @include media-mobile-large {
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 30px;
      width: 100%;
      height: 50vh;
      background: $color-dark;
      top: 50vh;
      right: -100%;
      z-index: 10;
      transition: all 0.2s ease-out;
    }
    &_opened {
      right: 0;
    }
    &_static {
      @include media-mobile-large {
        padding-bottom: 30px;
        top: 0vh;
        justify-content: flex-end;
      }
    }
  }
  &__button {
    position: relative;
    @extend %font-main;
    @include font(600, 1.4rem, 100%, $color-light);
    @extend %transition;
    @include media-mobile-large {
      width: fit-content;
      @include font(600, 2.4rem, 100%, $color-light);
    }
    &_cart {
      display: flex;
      align-items: center;
      column-gap: 11px;
      @extend %font-second;
    }
  }

  &__shopping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3px;
  }

  &__text {
    @include font(500, 1.2rem, 100%, $color-light);
  }

  &__quantity {
    @include font(700, 1.4rem, 100%, $color-light);
  }

  &__bag {
    display: block;
    width: 18px;
    height: 22px;
    background: url('../assets/ico/bag.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.current-page {
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-main-second;
  }
}
