.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 21px 10px;
  background: $color-dark;
  &__logo {
    width: 82px;
    height: 32px;
    background: url('../assets/ico/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
  }
  &__buttons {
    @include font(600, 1.4rem, 100%, $color-light);
  }
}
